body {
  background-image: url('/public/league.jpeg'); /* Adjust the path accordingly */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh; /* Ensure the body takes full height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(68, 68, 68, 0.8); /* Add a background to the container for better readability */
  border-radius: 10px; /* Rounded corners */
}

.input-button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.chart-container {
  margin-top: 20px;
  background-color: rgba(68, 68, 68, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 100%; /* Full width for better size */
  max-width: 800px; /* Max width for larger display */
}

.champion-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #777;
}

.match-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(68, 68, 68, 0.9); /* Make background slightly transparent */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.match-details {
  margin: 0;
  color: white;
}

.title-match-statistics {
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif; /* Example of a cool font */
  font-size: 2em;
  margin-bottom: 20px;
}

.recent-matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px;
  margin-top: 20px;
}

.recent-match-button {
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
}

.recent-match-button:hover {
  background-color: #777;
}